.root {
	-fx-background-color: #556B2F;
	-fx-padding: 10px 10px 10px 10px
}


.right{
	-fx-padding: 10, 5, 0, 5;
	-fx-position: absolute;
}

.label {
	-fx-text-fill: #e8e8e8;
	-fx-font-size: 22pt;
	-fx-font-family: Georgia, serif;
}

.button {
	-fx-background-radius: 4;
	-fx-font-size: 12pt;
}
